{% load staticfiles widget_tweaks %}
<!doctype html>
<html lang="en">
  <head>
    <title>Django Rock Star</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
    {% include 'css.html' %}

  </head>

  <body>
     <div id="loader"></div>
        {% include 'header_participant.html' %}
        <!--About Us Start-->
        <section id="aboutus" class="aboutus">
            <div class="container">
                <div class="row">
                <div class="col-md-12">
                    <div class="section-title">
                    <h2 class="success">Gracias por registrarte!</h2>
                    <p>
                        {{object.event.portal.coach_success}}
                    <p>
                        <a href="/" class="btn btn-default">Regresar a la página principal</a>
                    </p>
                    </div>
                </div>
                </div>
                <div class="space"></div>
            </div>
        </section>
        {% include 'js.html' %}
  </body>
</html>
