{% load staticfiles widget_tweaks %}
{% load staticfiles %}
<!doctype html>
<html lang="en">
  <head>
    <title>Django RockStar</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Rock+Salt" />
    {% include 'css.html' %}

  </head>

  <body>
     <div id="loader"></div>
        {% include 'header_participant.html' %}
        <!--Contact start-->
        <section id="contactus" class="contactus">

         <div class="container">
            <div class="row">
               <div class="col-md-12">
               <div class="section-title">
                  <h2 class="font-weight">Formulario de Mentores</h2>
                  <span class="dots dt-theme margin-bottom-1"></span>
                  <p class="font-weight">{{event.portal.text_form_inscription_sponsor}}</p>
                </div>
              </div>
            </div>
        </div>
            <div class="section contact-us">
                <div class="container">
                    <div class="outer-box">
                        <div class="col-sm-12 form-box clearfix">
                            <form id="my-form" enctype="multipart/form-data" action='{% url 'coach' view.kwargs.event_pk %}' method="POST" data-toggle="validator" class="shake scroll-reveal">
                                {% csrf_token %}
                                <div class="form-group col-sm-12">
                                    <p>¿Cuál es tu nombre?</p>
                                    {% render_field form.name class="form-control" placeholder="" required='required' data-error="Falta colocar tu nombre" %}
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <p>¿Cuál es tu correo electrónico?</p>
                                    {% render_field form.email class="form-control" placeholder="" required='required' data-error="Falta colocar tu correo electronico" %}
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <p>¿Cuál es tu teléfono celular?</p>
                                    {% render_field form.phone_number class="form-control" placeholder="" required='required' data-error="Falta colocar tu telefono celular" %}
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <p>Si tienes Github, ¿cuál es tu usuario?</p>
                                    {% render_field form.github_user class="form-control" placeholder="" required='required' data-error="Falta colocar tu telefono celular" %}
                                    <div class="help-block with-errors"></div>
                                </div>

                                <div class="form-group col-sm-12">
                                    <p>¿Con qué sistemas operativos te sientes cómodo?</p>
                                    {% render_field form.operating_systems multiple='multiple' class+='selectpicker-multiple' data-width="100%" style="width: 100%" data-error="Falta seleccionar al menos un sistema operativo" %}

                                    <div class="help-block with-errors"></div>

                                </div>
                                <div class="form-group col-sm-12">
                                    <p>Si no encontramos un grupo adecuado para los sistemas operativos que dominas, ¿estás dispuesto a trabajar con Windows?</p>
                                    {% render_field form.agree_work_with_windows class="form-control" required='required' data-error="Falta responder esta pregunta" %}
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <p>¿Qué idiomas hablas?</p>
                                    {% render_field form.languages_speak multiple='multiple' class+='selectpicker-multiple' data-width="100%" style="width: 100%" data-error="Falta seleccionar al menos un idioma" %}

                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <p>Tendrás tiempo antes de los talleres para ayudar a tu grupo (3 personas) a instalar Python y Django a través de Google Hangout / Skype / e-mail?</p>
                                    {% render_field form.time_install_before_workshop class="form-control" %}
                                </div>
                                <div class="form-group col-sm-12">
                                    <p>¿Tendrás tiempo antes de los talleres para tener un encuentro con los organizadores y mentores a través de Google Hangout / Skype / e-mail?</p>
                                    {% render_field form.time_meet_before_workshop class="form-control" %}
                                </div>
     
                                <div class="form-group col-sm-12">
                                    <p>¿Tienes alguna experiencia previa enseñando a otros? ¡Cuéntanos!</p>
                                    {% render_field form.experience_teaching class="form-control" %}
                                </div>
                                <div class="form-group col-sm-12">
                                    <p>¿Quieres que te agreguen al sitio web del taller?</p>
                                    {% render_field form.want_be_add_website class="form-control" %}
                                </div>
                                <div class="form-group col-sm-12">
                                    <p>Carga una foto tuya de perfil, en caso de quieras que te agreguen al sitio web del taller</p>
                                    {% render_field form.picture class="form-control" data-error="Falta agregar su foto" %}
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="col-sm-12" align="right">
                                     <a class="" href="/">Salir</a>

                                      <button class="btn btn-warning" type='submit'>Regístrate</button>
                                     
                                    <div id="msgSubmit"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {% include 'footer.html' %}

        {% include 'js.html' %}
  </body>
</html>

<!-- v0.1.4 -->
