{% load staticfiles widget_tweaks %}
{% load staticfiles %}
<!doctype html>
<html lang="en">
  <head>
    <title>Django RockStar</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Rock+Salt" />
    {% include 'css.html' %}

  </head>

  <body>
     <div id="loader"></div>
        {% include 'header_participant.html' %}
        <!--Contact start-->
        <section id="contactus" class="contactus">

         <div class="container">
            <div class="row">
               <div class="col-md-12">
               <div class="section-title">
                  <h2 class="font-weight">Formulario de Participantes</h2>
                  <span class="dots dt-theme margin-bottom-1"></span>
                  <p class="font-weight">{{event.portal.text_form_inscription_participant}}</p>
                </div>
              </div>
            </div>
        </div>
            <div class="section contact-us">
                <div class="container">
                    <div class="outer-box">
                        <div class="col-sm-12 form-box clearfix">
                            <form id="my-form" action='{% url 'participant' view.kwargs.event_pk %}' method="POST" data-toggle="validator" class="shake scroll-reveal">
                                {% csrf_token %}
                                <div class="form-group col-sm-12">
                                    <p>¿Cuál es tu nombre?</p>
                                    {% render_field form.name class="form-control" placeholder="" required='required' data-error="Falta colocar tu nombre" %}
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <p>¿Cuál es tu correo electrónico?</p>
                                    {% render_field form.email class="form-control" placeholder="" required='required' data-error="Falta colocar tu correo electronico" %}
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <p>¿Cuál es tu teléfono celular?</p>
                                    {% render_field form.phone_number class="form-control" placeholder="" required='required' data-error="Falta colocar tu telefono celular" %}
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <p>¿De dónde eres?</p>
                                    {% render_field form.city class="form-control" placeholder="" required='required' data-error="Falta colocar de donde eres" %}
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <p>¿Qué sistema operativo piensas usar en el taller?</p>
                                    {% render_field form.operation_system class="form-control selectpicker" placeholder="" required='required' data-error="Falta colocar el sistema operativo que usas" %}
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <p>¿Cuál es tu nivel actual de experiencia con la programación?</p>
                                    {% render_field form.programing_level class="form-control" required='required' data-error="Falta colocar tu nivel de experiencia" %}
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <p>Si marcaste algo más que un principiante, ¿podrías decirnos algo más sobre tu conocimiento de programación?</p>
                                    {% render_field form.programing_knowledge class="form-control" rows="3" %}
                                </div>
                                <div class="form-group col-sm-12">
                                    <p>¿Cuál es tu ocupación actual?</p>
                                    {% render_field form.current_ocupation class="form-control" rows="3" %}
                                </div>
                                <div class="form-group col-sm-12">
                                    <p>¿Por qué quieres asistir al taller?</p>
                                    {% render_field form.reason_assistance class="form-control" rows="3" %}
                                </div>
                                <div class="col-sm-12" align="right">
                                     <a class="" href="/">Salir</a>

                                      <button class="btn btn-warning" type='submit'>Regístrate</button>
       
                                     
                                    <div id="msgSubmit"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {% include 'footer.html' %}

        {% include 'js.html' %}
  </body>
</html>

<!-- v0.1.4 -->
