 <!-- START REVOLUTION SLIDER 5.0 -->
  <div class="rev_slider_wrapper">
        <!-- START REVOLUTION SLIDER 5.0 auto mode -->
        <div id="rev_slider" class="rev_slider"  data-version="5.0">
        <ul>
          <!-- SLIDE-1  -->
        
        <li data-transition="fade"> 
        <!-- MAIN IMAGE --> 
        <img src="{% static 'images/sliders/01.jpg' %}" alt=""  width="1920" height="820" > 
        
        <!-- LAYER .1 -->
        <div class="tp-caption  tp-resizeme rs-parallaxlevel-0" 
        id="slide-1-layer-1" 
        data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
        data-y="['center','center','center','center']" data-voffset="['-100','-70','-70','-70']" 
        data-fontsize="['62','62','42','32']"
        data-lineheight="['72','72','52','42']"
        data-width="900"
        data-height="none"
        data-color="#fff"
        data-transform_idle="o:1;tO:0% 50%;"
        data-transform_in="x:-50px;rY:-90deg;opacity:0;s:2000;e:Back.easeOut;" 
        data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
        data-start="1000" 
        data-splitin="lines" 
        data-splitout="none" 
        data-responsive_offset="on" 
        data-elementdelay="0.05" 
        
        style="z-index: 7; font-weight:600; font-family: 'Roboto', sans-serif; text-align:center; text-transform:none; white-space: nowrap;">
        WE GIVE A
        
        </div>
        
        <!-- LAYER .2 -->
        <div class="tp-caption tp-resizeme rs-parallaxlevel-0" 
        id="slide-1-layer-2" 
        data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
        data-y="['center','center','center','center']" data-voffset="['-20','0','0','0']" 
        data-fontsize="['82','82','82','72']"
        data-lineheight="['82','82','82','72']"
        data-width="700"
        data-height="none"
        data-color="#fff"
        data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" 
        data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
        data-mask_in="x:[100%];y:0;s:inherit;e:inherit;" 
        data-start="1000" 
        data-splitin="lines" 
        data-splitout="none" 
        data-responsive_offset="on" 
        
        style="z-index: 7; font-weight:600; letter-spacing:1px; text-transform:uppercase; font-family: 'Roboto', sans-serif; text-align:center;  white-space: nowrap;">
        Best <span class="text-greendark">solutions</span> 
        </div>
        
        <!-- LAYER .3 -->
        <div class="tp-caption tp-resizeme rs-parallaxlevel-0" 
        id="slide-1-layer-3" 
        data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
        data-y="['center','center','center','center']" data-voffset="['50','70','60','60']" 
        data-fontsize="['16','16','16','16']"
        data-lineheight="['18','18','18','18']"
        data-width="700"
        data-height="none"
        data-color="#fff"
        data-transform_idle="o:1;tO:0% 50%;"
        data-transform_in="x:-50px;rY:-90deg;opacity:0;s:2000;e:Back.easeOut;" 
        data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
        data-start="1000" 
        data-splitin="lines" 
        data-splitout="none" 
        data-responsive_offset="on" 
        data-elementdelay="0.05" 
        
        style="z-index: 7; font-weight:500; letter-spacing:1px; text-transform:none; font-family: 'Roboto', sans-serif; text-align:center;  white-space: nowrap;">
        We are a full service business develpment group  <br/> Rapid solutions to the most we build strategies and systems.
        </div>
        
    
        </li>
          
          
        
        <!-- SLIDE-2  -->
        <li data-transition="fade"> 
        <!-- MAIN IMAGE --> 
        <img src="{% static 'images/sliders/02.jpg' %}" alt=""  width="1920" height="820" > 
        
        <!-- LAYER .1 -->
        <div class="tp-caption  tp-resizeme rs-parallaxlevel-0" 
        id="slide-2-layer-1" 
        data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']" 
        data-y="['center','center','center','center']" data-voffset="['-90','-70','-70','-70']" 
        data-fontsize="['52','52','42','42']"
        data-lineheight="['62','62','42','42']"
        data-width="0"
        data-height="none"
        data-color="#fdc318"
        data-transform_in="x:500px;opacity:0;s:1500;e:Power4.easeInOut;" 
        data-transform_out="y:[175%];s:1500;e:Power2.easeInOut;s:1500;e:Power2.easeInOut;" 
        data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
        data-start="1000" 
        data-splitin="none" 
        data-splitout="none" 
        data-responsive_offset="on" 
        
        style="z-index: 10;  font-weight:800; text-align:left; text-transform:uppercase; white-space: nowrap;">
        Best Corporate <br/> Business Template
 
        
        </div>
   
        
        
        <!-- LAYER .2 -->
        <div class="tp-caption tp-resizeme rs-parallaxlevel-0" 
        id="slide-2-layer-2" 
        data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']" 
        data-y="['center','center','center','center']" data-voffset="['10','10','10','0']" 
        data-fontsize="['32','32','32','32']"
        data-lineheight="['32','32','32','32']"
        data-width="700"
        data-height="none"
        data-color="#fff"
        data-transform_idle="o:1;tO:0% 50%;"
        data-transform_in="x:-50px;rY:-90deg;opacity:0;s:2000;e:Back.easeOut;" 
        data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
        data-start="1000" 
        data-splitin="lines" 
        data-splitout="none" 
        data-responsive_offset="on" 
        data-elementdelay="0.05"  
        
        style="z-index: 10; font-weight:600; text-transform:none; font-family: 'Roboto', sans-serif; text-align:left;  white-space: nowrap;">
       Great choice for<br/> your next webdesign project
        </div>
        
        <!-- LAYER .3 -->
        <div class="tp-caption NotGeneric-CallToAction btn-1 rs-parallaxlevel-0" 
        id="slide-2-layer-3" 
        data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']" 
        data-y="['middle','middle','middle','middle']" data-voffset="['90','90','90','90']" 
        data-width="none"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
        data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
        data-style_hover="c:rgba(255, 255, 255, 1.00);bc:rgba(78, 75, 199, 0.00);cursor:pointer;"
        
        data-transform_in="y:top;s:1500;e:Power3.easeInOut;"
        data-transform_out="opacity:0;s:300;s:300;" 
        data-mask_in="x:0px;y:0px;" 
        data-mask_out="x:inherit;y:inherit;" 
        data-start="1250" 
        data-splitin="none" 
        data-splitout="none" 
        data-actions='[{"event":"click","action":"scrollbelow","offset":"0px"}]'
        data-responsive_offset="on" 
        data-responsive="off"
        
        style="z-index: 10; white-space:  nowrap;outline:none;box-shadow:none; background-color:#fdc318; border-style:none;border-radius:4px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">View Details ! </div>
        
        
      
        
        </li>
        
          
        <!-- SLIDE-3  -->
        <li data-transition="fade"> 
        <!-- MAIN IMAGE --> 
        <img src="{% static 'images/sliders/03.jpg' %}" alt=""  width="1920" height="820" > 
        
     
        
          <!-- LAYER .1 -->
        <div class="tp-caption  tp-resizeme rs-parallaxlevel-0" 
        id="slide-3-layer-1" 
        data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']" 
        data-y="['center','center','center','center']" data-voffset="['-70','-70','-70','-70']" 
        data-fontsize="['52','52','42','42']"
        data-lineheight="['62','62','42','42']"
        data-width="none"
        data-height="none"
        data-color="#fff"
        data-transform_in="x:500px;opacity:0;s:1500;e:Power4.easeInOut;" 
        data-transform_out="y:[175%];s:1500;e:Power2.easeInOut;s:1500;e:Power2.easeInOut;" 
        data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
        data-start="1000" 
        data-splitin="none" 
        data-splitout="none" 
        data-responsive_offset="on" 
        
        style="z-index: 10;  font-weight:800; text-align:left; text-transform:uppercase; white-space: nowrap;">
         Create Amazing Web  <br/>  Experiences

        
        </div>
   
        
        
        <!-- LAYER .2 -->
        <div class="tp-caption tp-resizeme rs-parallaxlevel-0" 
        id="slide-3-layer-2" 
        data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']" 
        data-y="['center','center','center','center']" data-voffset="['30','50','50','30']" 
        data-fontsize="['21','21','21','21']"
        data-lineheight="['32','32','32','32']"
        data-width="700"
        data-height="none"
        data-color="#fdc318"
        data-transform_in="x:-1000px;y:0px;opacity:0;s:1000;e:Power2.easeInOut;"
        data-transform_out="y:[175%];s:1500;e:Power2.easeInOut;s:1500;e:Power2.easeInOut;" 
        data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
        data-start="1000" 
        data-splitin="none" 
        data-splitout="none" 
        data-responsive_offset="on" 
        
        style="z-index: 10; font-weight:600; text-transform:none; font-family: 'Roboto', sans-serif; text-align:left;  white-space: nowrap;">
        Material Design - Bootstrap - HTML5 <br/> CSS3 - Responsive 
        </div>
        
        <!-- LAYER .3 -->
        <div class="tp-caption NotGeneric-CallToAction btn-1 rs-parallaxlevel-0" 
        id="slide-3-layer-3" 
        data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']" 
        data-y="['middle','middle','middle','middle']" data-voffset="['110','110','110','90']" 
        data-width="none"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
        data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
        data-style_hover="c:rgba(255, 255, 255, 1.00);bc:rgba(78, 75, 199, 0.00);cursor:pointer;"
        
        data-transform_in="y:top;s:1500;e:Power3.easeInOut;"
        data-transform_out="opacity:0;s:300;s:300;" 
        data-mask_in="x:0px;y:0px;" 
        data-mask_out="x:inherit;y:inherit;" 
        data-start="1250" 
        data-splitin="none" 
        data-splitout="none" 
        data-actions='[{"event":"click","action":"scrollbelow","offset":"0px"}]'
        data-responsive_offset="on" 
        data-responsive="off"
        
        style="z-index: 10; white-space:  nowrap;outline:none;box-shadow:none; background-color:#fdc318; border-style:none;border-radius:4px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">View Details ! </div>

        
        </li>
        
        
        
        </ul>
        </div>
        <!-- END REVOLUTION SLIDER -->
        </div>
  <!-- END OF SLIDER WRAPPER -->