{% load static %} 
<!--About Us-2 Start-->
<section id="aboutus-2" class="aboutus-2">
            <div class="container"> 
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="display-table-cell vertical-align-middle">
                           {% if event.portal.picture_1_application %}
                                <img src="{{event.portal.picture_1_application.url}}" alt="" class="width-100">
                            {% else %}
                                <img src="{% static 'images/image-1.jpg' %}" alt="" class="width-100">
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="display-table-cell vertical-align-middle">
                            {% if event.portal.picture_2_application %}
                                <img src="{{event.portal.picture_2_application.url}}" alt="" class="width-100">
                            {% else %}
                                <img src="{% static 'images/image-2.jpg' %}" alt="" class="width-100">
                                
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <div class="display-table-cell vertical-align-middle padding-twelve-lr">
                            <h1>{{event.portal.title_aplication_session}}</h1>
                            <h5>{{event.portal.subtitle_aplication_session}}</h5>
                            <p class="margin-bottom-2">{{event.portal.text_aplication_session}}</p>
                            <a href="{% url 'participant' event.pk %}" class="main-btn"><h6 class="font-weight">{{event.portal.btn_inscription}}</h6></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
<div class="clearfix"></div>
<!--About Us 2 End-->
