<!--Contact start-->
<section id="contactus" class="contactus">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
               <div class="section-title">
                  <h2 class="font-weight">Contact Us</h2>
                  <span class="dots dt-theme margin-bottom-1"></span>
                  <p class="font-weight">Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                  </div>
                  </div>
                  </div>
                  </div>
  <div class="section contact-us">
         <div class="container">
            <div class="outer-box">
               <div class="company-data">
                  <ul class="row">
                     <li class="col-md-4 col-sm-4 col-xs-12">
                        <div class="box">
                           <span class="lnr lnr-location"></span>
                           8544 Walnut<br>
                           St. Burnsville, MN 55337
                        </div>
                     </li>
                     <li class="col-md-4 col-sm-4 col-xs-12">
                        <div class="box">
                           <span class="lnr lnr-phone"></span>
                           +1-952-356-9282<br>+1-385-200-5438
                        </div>
                     </li>
                     <li class="col-md-4 col-sm-4 col-xs-12">
                        <div class="box">
                           <span class="lnr lnr-bubble"></span>
                           lank@yourdomain.com<br>
                           info@yourdomain.com
                        </div>
                     </li>
                  </ul>
               </div>
               <!-- Contact Form Start -->
               <div class="form-box clearfix">
                  <form id="contactform" data-toggle="validator" class="shake scroll-reveal">
                     <div class="form-group col-sm-6">
                        <input type="text" class="form-control" id="name" placeholder="Your name" required data-error="Name missing">
                        <div class="help-block with-errors"></div>
                     </div>
                     <div class="form-group col-sm-6">
                        <input type="email" class="form-control" id="email" placeholder="Your email" required>
                        <div class="help-block with-errors"></div>
                     </div>
                     <div class="form-group col-sm-12">
                        <textarea id="message" class="form-control" rows="6" placeholder="Write your message here" required></textarea>
                        <div class="help-block with-errors"></div>
                     </div>
                     <div class="col-sm-12">
                        <a class="btn" href="#">Send Meaasage</a>
                        <div id="msgSubmit"></div>
                     </div>
                  </form>
               </div>
            <!-- Contact Form End -->
            </div>
         </div>
      </div>
</section>
<!--Contact end-->