{% load static %} 
<link href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<!-- Normalize Css -->
<link href="{% static 'assets/Normalize/normalize.css' %}" rel="stylesheet">
<!--Font Awesome Css-->
<link href="{% static 'assets/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
<!--Linear icon Css-->
<link href="{% static 'assets/linearicons/css/icon-font.min.css' %}" rel="stylesheet">
<!--Animate Css-->
<link href="{% static 'assets/animate/animate.css' %}" rel="stylesheet">
<!--Revolution slider main css-->
<link href="{% static 'assets/revolution/css/settings.css' %}" rel="stylesheet">
<!--Revolution layer and navigation css-->
<link href="{% static 'assets/revolution/css/layers.css' %}" rel="stylesheet">
<link href="{% static 'assets/revolution/css/navigation.css' %}" rel="stylesheet">
<!--Portfolio Css-->
<link href="{% static 'assets/css/ionicons.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/magnific-popup.css' %}" rel="stylesheet">
<!--Custum Css-->
<link href="{% static 'css/style.css' %}?v1" rel="stylesheet">
<!--Modernizr Js-->
<script src="{% static 'js/vendor/modernizr-3.5.0.min.js' %}"></script>

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
