<!--Service start-->
  <section id="services" class="services">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
               <div class="section-title">
                  <h2 class="font-weight">PREGUNTAS FRECUENTES</h2>
                  <span class="dots dt-theme margin-bottom-1"></span>
                  </div>
                  <div class="section">
                  {% for faq in event.portal.faqs.all %}
                  <!-- Single Service Start -->                  
                     <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="item">
                           <h3 class="font-weight">{{faq.question}}</h3>
                           <p class="line-height-1">{{faq.answer}}</p>
                        </div>
                     </div>
                  {% endfor %}
                  <!-- Single Service End -->            
               </div>
            </div>
         </div>
         </div>
      </section>
      <div class="clearfix"></div>
<!--Service end-->