<!-- v1.0.3 -->
<footer>
  <div class="container">
    <p>&copy; Copyright <script type="text/javascript">
var d=new Date();
document.write(d.getFullYear());
</script> | Desarrollada por la comunidad Python Dominicana con &hearts; para todos los que desean aprender Django.</p>
  </div>
</footer>