{% load static %} 
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{% static 'assets/jquery/jquery-3.2.1.min.js' %}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/easing/jquery.easing.min.js' %}"></script>
<script src="{% static 'assets/isotope/jquery.isotope.js' %}"></script>
<script src="{% static 'assets/jquery/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'assets/jquery/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'assets/number-animation/jquery.animateNumber.min.js' %}"></script>
<!-- REVOLUTION JS FILES --> 
<script type="text/javascript" src="{% static 'assets/revolution/js/source/jquery.themepunch.tools.min.js' %}"></script> 
<script type="text/javascript" src="{% static 'assets/revolution/js/source/jquery.themepunch.revolution.js' %}"></script> 

<!-- SLIDER REVOLUTION 5.0 EXTENSIONS  
(Load Extensions only on Local File Systems ! 
The following part can be removed on Server for On Demand Loading) --> 
<script type="text/javascript" src="{% static 'assets/revolution/js/extensions/revolution.extension.actions.min.js' %}"></script> 
<script type="text/javascript" src="{% static 'assets/revolution/js/extensions/revolution.extension.carousel.min.js' %}"></script> 
<script type="text/javascript" src="{% static 'assets/revolution/js/extensions/revolution.extension.kenburn.min.js' %}"></script> 
<script type="text/javascript" src="{% static 'assets/revolution/js/extensions/revolution.extension.layeranimation.min.js' %}"></script> 
<script type="text/javascript" src="{% static 'assets/revolution/js/extensions/revolution.extension.migration.min.js' %}"></script> 
<script type="text/javascript" src="{% static 'assets/revolution/js/extensions/revolution.extension.navigation.min.js' %}"></script> 
<script type="text/javascript" src="{% static 'assets/revolution/js/extensions/revolution.extension.parallax.min.js' %}"></script> 
<script type="text/javascript" src="{% static 'assets/revolution/js/extensions/revolution.extension.slideanims.min.js' %}"></script> 
<script type="text/javascript" src="{% static 'assets/revolution/js/extensions/revolution.extension.video.min.js' %}"></script> 
<script>
    var revapi;
    jQuery(document).ready(function() {     
        revapi = jQuery("#rev_slider").revolution({
            sliderType:"standard",
            sliderLayout:"auto",
            fullScreenOffsetContainer:".header",

<!--            fullScreenOffset:"50px",-->
            delay:5000,
            navigation: {
                arrows:{enable:false}                
            },          
            responsiveLevels: [1240, 1024, 778, 480],
            visibilityLevels: [1240, 1024, 778, 480],
           gridwidth: [1240, 1024, 778, 480],
           gridheight: [620, 520, 580, 480],
           
        });  

    }); /*ready*/

    $(document).ready(function() {
        $(".selectpicker-multiple").select2({
          width: 'resolve'
        });
    });
</script> 
 <!-- Contact Form Script --> 
 <script src="{% static 'assets/contact-form/js/validator.min.js' %}"></script>
 <script src="{% static 'assets/contact-form/js/form-scripts.js' %}"></script>
 <script src="{% static 'assets/particle/particles.min.js' %}"></script>

<script src="{% static 'assets/particle/app.js' %}"></script>
<script src="{% static 'assets/number-animation/jquery.animateNumber.min.js' %}"></script>


<script src="{% static 'assets/jquery/plugins.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>