<!--Team-->
 <section id="team" class="team">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
               <div class="section-title">
                  <h2 class="font-weight">{{event.portal.title_organizer_session}}</h2>
                  <span class="dots dt-theme margin-bottom-1"></span>
                  {% if event.portal.subtitle_organizer_session %}
                    <p class="font-weight">{{event.portal.subtitle_organizer_session}}</p>
                  {% endif %}
                  </div>
                     <div class="our-team-three">
                        <div class="team-members row">

                            {% for organizer in event.organizers.all %}
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="single-member bg-white">
                                        <div class="single-member-header pos-r">
                                            <img src="{{organizer.picture.url}}" alt="" class="img-responsive">
                                            <div class="single-member-overlay overlay t-center">
                                                <div class="overlay bg-orange alpha-50"></div>
                                            </div>
                                        </div>
                                        <div class="single-member-content p-15">
                                            <p class="font-weight color-y">{{organizer.name}}</p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    </div>
            </div>
         </div>
                   
</section>