  <section id="intro-section" class="banner-area overlay-white">
            <div class="container">
            <div class="row">
            <div class="col-md-12">
            <div class="col-md-8">
                <div class="banner-text text-left">
                    <h1 class="font-weight-h text-transform color-w">Aprende Django</h1>
                    <h3 class="font-weight text-transform ptb-20 color-w">Desde cero</h3>
                    <p class="font-weight color-w"> Aprende todo lo que necesitas para crear una aplicación web totalmente gratis.
                    </p>
                    <a href="#contactus" class="btn smoth-scroll">Contact us</a>
                </div>
            </div>
            </div>
            </div>
            </div>
        </section>
  <!-- End Image Slider Area -->