 {% load static %} 


   <!-- Start Image Slider Area -->
  <section id="particle-area" class="particle-area">
   <div id="particles-js"></div>
<div class="container">
            <div class="row">
            <div class="col-md-12">
            <div class="col-md-8 col-md-offset-2">
                <div class="banner-text text-center">
                    <h1 class="font-weight-h text-transform margin-bottom-2 color-w">Hello from <span class="color-y">triple</span></h1>
                    <h3 class="font-weight text-transform ptb-20 color-w">Creative Multipurpose HTML5 Template</h3>
                    <p class="font-weight margin-bottom-2 ptb-20 color-w">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo</p>
                    <a href="#contactus" class="btn smoth-scroll">Contact us</a>
                </div>
            </div>
            </div>
            </div>
            </div>
        </section>
  <!-- End Image Slider Area -->